<template>
    <div>
        <v-footer :fixed="true" app>
            <span>Ich lerne deutsch &copy;2018</span>
        </v-footer>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>

</style>